:root {
    --branco: #ffffff;
    --cinza: #d9d9d9;
    --preto: #000000;
    --cor1: #02073e;
    --cor2: #0f2137;
    --cor2-leve: #3c415c;
    --cor3: #a6b1e1;
    --cor3-leve: #f3f6fb;
    --cor4: #343d48;
  
    --fonte-sem-serifa: 'DM Sans', sans-serif;
  }
  